.hero-alt {
    background-color: $primary-color;
    position: relative;

    &--text-wrap {
        color: $white;
        padding: $spacer*2;

        @media (min-width: $break-tablet) {
          left: $spacer*2;
          max-width: 40%;
          padding: 0;
          position: absolute;
          top: 70px;
        }

        @media (min-width: 960px) {
          top: 100px;
        }
        @media (min-width: 1024px) {
          top: 140px;
        }
        @media (min-width: $break-desktop) {
          top: 180px;
        }
        @media (min-width: 1400px) {
          max-width: 44%;
          top: 260px;
        }

        @media (min-width: $break-desktop-wide) {
          left: 60px;
          top:300px;
        }

        @media (min-width: 1700px) {
          max-width: 44%;
        }
        @media (min-width: 1800px) {
          top:375px;
        }
    }

    &--headline {
        font-size: $font-size*2.8;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: $spacer;

        @media (min-width: $break-tablet) {
            font-size: $font-size*3.2;
        }
        @media (min-width: $break-desktop) {
            font-size: $font-size*4.8;
        }
        @media (min-width: $break-desktop-wide) {
            font-size: $font-size*6;
            margin-bottom: $spacer*1.5;
          }
        @media (min-width: 1900px) {
            font-size: $font-size*7.2;
        }
    }

    p.hero-alt--copy {
        font-size: $font-size*1.6;
        line-height: 1.8;
        margin-bottom: 0;

        @media (min-width: $break-desktop) {
            font-size: $font-size*1.8;
        }

        @media (min-width: $break-desktop-wide) {
          font-size: $font-size*2;
        }

        @media (min-width: 1800px) {
            font-size: $font-size*2.4;
        }
    }

    .hero-alt--slide .hero-alt--image {
      display: none;
      width: 100%;

      @media (min-width: $break-tablet) {
        display: block;
      }
    }
    .hero-alt--slide .hero-alt--image-mobile {
      width: 100%;

      @media(min-width: $break-tablet) {
        display: none;
      }
    }

    ul.hero-alt--dots {
        bottom: 10vw;
        position: absolute;
        list-style: none;
        margin-bottom: 0;
        right: 3%;
    
        @media (max-width: 767px) {
          display: none !important;
        }
    
        li {
          display: flex;
          justify-content: flex-end;
          margin-block: $spacer*.25;
    
          @include for-tablet-up {
            margin-block: $spacer;
          }
        }
    
        button {
          background: transparent;
          border: none;
          color: $white;
          cursor: pointer;
          font-size: $font-size*2.1;
          font-family: $theme-font;
          min-width: 24px;
          opacity: .5;
          text-align: center;
          transition: transform $transition--primary,
                      opacity $transition--primary;
    
          &::before {
            @media (min-width: $break-tablet) {
              content: '';
              width: 16px;
              height: 1px;
              border-bottom: 1px solid #fff;
              display: inline-block;
              margin-bottom: 6px;
              margin-right: 8px;
              text-align: left;
            }
            @media (min-width: $break-tablet) {
              width: 32px;
            }
          }
    
          &:hover,
          &:focus,
          &:active {
            transform: scale(1.1);
            opacity: 1;
          }
    
          @media (max-width: $break-mobile-wide) {
            font-size: $font-size*1.6;
    
            &::before {
              width: 16px;
            }
          }
        }
    
        li.slick-active {
          button {
            transform: scale(1.1);
            opacity: 1;
    
            &::before {
              width: 18px;

              @media (min-width: $break-tablet) {
                width: 24px;
              }

              @media (min-width: $break-desktop) {
                width: 64px;
              }
            }
          }
        }
    }    
}